openapi: 3.2.0
info:
  title: Smithery Health API
  version: 1.0.0
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: smithery-documented-openapi.yml, smithery-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.smithery.ai
security:
- bearerAuth: []
tags:
- name: Health
paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Check if the service is running
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
        '500':
          description: Service unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthError'
      x-codeSamples:
      - lang: JavaScript
        source: "import Smithery from '@smithery/api';\n\nconst client = new Smithery({\n  apiKey: process.env['SMITHERY_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.health.check();\n\nconsole.log(response.status);"
      tags:
      - Health
    servers:
    - url: https://api.smithery.ai
components:
  schemas:
    HealthError:
      type: object
      properties:
        error:
          type: string
          example: Service unhealthy
      required:
      - error
      additionalProperties: false
    Health:
      type: object
      properties:
        status:
          type: string
        timestamp:
          type: string
      required:
      - status
      - timestamp
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Smithery API key as Bearer token
x-refined-from:
- smithery-documented-openapi.yml
- smithery-openapi.json
